*{
    margin: 0;
    padding:0;
}


.register-container{
    margin-top: 20px;
}
.go-back{
    color: inherit;
    font-size: 2rem;
    text-decoration: none;
    float: left;
    margin-left: 5vw;
    margin-bottom: 5vh;
}

.go-back :link{
    text-decoration: none;
    text-decoration-color: #6B6B6B;
}
.go-back a{
    color: #6B6B6B;
    font-weight: 500;
}

.register-wrapper{
    clear:both;
    background: #181825;
    border-radius: 10px;
    margin: 5vh 25vw;
    padding: 5vh 2.5vw;
    display: flex;
    flex-direction: column;
}

.register-wrapper > h1{
    /* font-size: 1.5rem; */
    font-size: 28px;
    text-align: left;
    margin: 0 0;
}

.about-project, .about-token-rewards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 5em;
    
}

.project-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    /* justify-content: center;  */
    margin: 1em 0;
}

.project-category{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 1em 0em;
    left: 0;
}

.register-project-name, .token-name, .token-address{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    left: 0;
    align-items: flex-start;
}

.token-name{
    margin-top: 20px;
    margin-bottom: 20px;
}


.project-logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    right: 0;
    align-items: flex-start;
}

input[type="file"] {
    display: none;
}

input{
    margin-top: 0.5em;
    height: auto;
    line-height: normal;
    width: 18vw;
    /* margin-top: 1em; */
    margin-right: 1em;
    padding: 0.85em .75em;
    border-radius: 5px;
    background: #14141F;
    border: 1px solid #31314D;
    color: #585858;
    /* outline-style: linear-gradient(to bottom right, #9D21FF, #2254D3); */
    font-size: 1.1em;
    height: 2.5vh;
}


.logo-upload {
    background: #272749;
    border-radius: 5px;
    color: white;
    

}
.detail-wrapper > h3, .apply-period > h3{
    font-size: 1.25rem;
    text-align: left;
    margin: 5vh 0 1vh 0;
    /* position: absolute; */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
.register-txt, .register-comment{
    color: #CDCDCD;
    font-size: .9em;
    text-align: left;
    margin: 1em 0 0;
}

.register-project-name input, .register-dropdown-bar{
    display: flex;
    align-items: center;
    height: auto;
    line-height: normal;
    width: 18vw;
    /* margin-top: 1em; */
    margin-right: 2em;
    padding: 0.85em .75em;
    border-radius: 5px;
    background: #14141F;
    border: 1px solid #31314D;
    color: #585858;
    /* outline-style: linear-gradient(to bottom right, #9D21FF, #2254D3); */
    font-size: 1.1em;
    height: 2.5vh;
}

.dropdown-category {
    min-width: 36vw;
}
Select{
    background: #14141F;
    width: 100%;
}
.basic-multi-select {
    width: 100%;
}

.logo-img{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: auto;
    line-height: normal;
    width: 15vw;
    /* min-width: 210px; */
    height: 2.5vh;
    height: 30px;
    margin-top: .5em;
    margin-right: 2em;
    padding: 10px;
    /* padding: 0.925em .75em; */
    border-radius: 5px;
    background: #14141F;
    border: 1px solid #31314D;
    color: #585858;
    align-items: center;
}

.logo-img > label {
    display: flex;
    align-items: center;
    background: #272749;
    border-radius: 5px;
    /* padding: .65em 1.25em; */
    padding: 10px 20px;
    position: relative;
    margin-top: 0px;
    margin-right: 0px;
    /* left: 5vw; */
    /* top: 0.4em; */
    cursor: pointer;
}

.img-route {
    border: none;
    background: none;
    position: relative;
    display: flex;
    align-items: center;
    left: 1vw;
    /* margin-top: 20px; */
}
Select{
    container: inherit;
}
.project-explain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* margin: 0 1.1em 1em 0em; */
}
.project-explain textarea{
    line-height: normal;
    text-align:start;
    vertical-align:sub;
    margin-top: .5em;
    margin-right: 2em;
    padding: 0.85em .75em;
    border-radius: 5px;
    background: #14141F;
    border: 1px solid #31314D;
    color: #585858;
    font-size: 1.1em;
    height: 20vh;
    width: 36.5vw;
}

.token-address > input, .register-dropdown-bar {
    width: 36.5vw;
}
.register-comment{
    color: rgba(205, 205, 205, 0.49);
}
.add-more{
    text-decoration-line: underline;
    color: #6B6B6B;
}

.addmore {
    text-decoration-line: underline;

    background: none;
    color: #6B6B6B;
    cursor: pointer;
    border: none;
}
.phase1-txt{
    color: #32CAEC;
    font-weight: bold;
}

.phase2-txt{
    color: #1EDC81;
    font-weight: bold;
}
.total-token-rewards {
    margin-top: -15px;
}
table{
    display: flex;
    margin-top: 2em;
    /* background: #14141F;
    border: 1px solid #31314D; */
}
tr {
    display: flex;
    flex-direction: row;
}
thead {
    color: #CDCDCD;
    display: flex;
}
tbody {
    width: 130px;
}
.token-rewards-thead {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 5vw; */
    text-align: left;

}

.token-rewards-thead > thead {
    min-width: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 15px;
}


td{
    background: #14141F;
    border: 1px solid #31314D;
    display: flex;
    align-items: center;
    width: 8vw;
    /* position: absolute; */
    /* width: 108px;
    height: 52px; */
}

td > input {
    /* width: 2vw; */
    margin-top: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    width: 2.5vw;
    padding-left: 1em;
    border: none;
}

td > label {
    display: flex;
    width: 1.5em;
    text-align: end;
    margin-left: -15px;

}

/* table{
    display:flex;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow-x: auto;
    overflow-y: hidden;
} */

.add-more-btn{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent; 
    border:none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #6B6B6B;

}
.project-start {
    margin-top: 35px;
    text-align: start;
    display: flex;

}

.project-start-input {
    display: flex;
    /* border: 1px solid red; */
}

.phase1-period {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid red; */
}

.phase2-period {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid red;     */
}

.phase1-info {
    margin: 0 15px;
    cursor: pointer;
}

.phase1-info:hover {
    color: yellow;
}

.phase2-info {
    margin: 0 15px;
    cursor: pointer;
}

.phase2-info:hover {
    color: yellow;
}

.project-start-date > input  {
    color: white;
}

.withdraw-detail-form {
    display: flex;
    flex-direction: column;
}

.withdraw-detail-form > table {
    display: flex;
    flex-direction: column;
}

.withdraw-detail-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-bottom: 1.5em;
}

.withdraw-period-detail {
    display: flex;
    align-items: center;
    width: max-content;
}

.period-input {
    width: 105px;
    margin-right: 1em;
}

.detail-container{
    display: flex;
    flex-direction: row;
}

.withdraw-period{
    /* width: 8vw; */
    width: max-content;
    margin-right: 2em;
}

.withdraw-percent{
    display: flex;
    flex-direction: column;
    width: 240px;
}

.withdraw-percent-detail {
    display: flex;
    align-items: center;
    margin-right: 0;
    width: 200px;

}

.add-phase2 {
    display: flex;
    flex-direction: row;
}

.lockdrop-period-wrapper {
    min-height: 600px;
}

.period-form > input{
    margin-left: 100px;
    width: 100px;
}
/* .bi bi-question-circle{
    color: #6B6B6B;
    width: 50px;
    height: 50px;
}
.arrow-box {
    display: none;
    position: absolute;
    width: 100px;
    padding: 8px;
    left: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #333;
    color: #fff;
    font-size: 14px;
  }
  
  .arrow-box:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #333;
    border-width: 10px;
    pointer-events: none;
    content: 'ab';
  }
  
  .bi bi-question-circle:hover + p.arrow-box {
    display: block;
  } */

  .tooltip {
    position: relative;
    display: inline-block;
    left: 10px;
    top: 3px;
    /*   border-bottom: 1px dotted black; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background: #181825;
    border: 1px solid #6B6B6B;
    border-radius: 10px;
    color: #CDCDCD;
    text-align: left;
    border-radius: 6px;
    padding: 10px 5px 10px 10px;
    padding-left: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -1px;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* 삼각형 
    .tooltip .tooltiptext::after {
    content: "1";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #6B6B6B transparent transparent transparent;
  } */
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .startDate-tooltip .tooltiptext{
    width: 40vw;
  }

  .phase1-tooltip .tooltiptext{
    width: 20vw;
    padding-right: 7px;
  }


  .phase2-tooltip .tooltiptext{
    width: 16.5vw;
    padding-right: 5px;
  }

  .apply-period > h3 {
    margin-top: 40px;
    margin-bottom: -10px;
  }
  
  .project-start {
    margin-bottom: 20px;
  }

  
input:focus, textarea:focus, input:hover, textarea:hover{
    color: white;
    outline: 1px solid #9D21FF;
    /* outline: 1px solid linear-gradient(to bottom right, #9D21FF, #2254D3); */
}
