*{
    margin: 0;
    padding:0;
}

input:focus, textarea:focus{
    outline: 1px solid #9D21FF;
    /* outline: 1px solid linear-gradient(to bottom right, #9D21FF, #2254D3); */
}
.register-container{
    margin-top: 20px;
}
.go-back{
    color: inherit;
    font-size: 2rem;
    text-decoration: none;
    float: left;
    margin-left: 5vw;
    margin-bottom: 5vh;
}

.go-back :link{
    text-decoration: none;
    text-decoration-color: #6B6B6B;
}
.go-back a{
    color: #6B6B6B;
    font-weight: 500;
}

.register-wrapper{
    clear:both;
    background: #181825;
    border-radius: 10px;
    margin: 5vh 25vw;
    padding: 5vh 2.5vw;
    display: flex;
    flex-direction: column;
}

.register-wrapper > h1{
    /* font-size: 1.5rem; */
    font-size: 28px;
    text-align: left;
    margin: 0 0;
}

.about-project, .about-token-rewards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 5em;
    
}

.project-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    /* justify-content: center;  */
    margin: 1em 0;
}

.project-category{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 1em 0em;

}

.register-project-name, .token-name, .token-address{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    left: 0;
    align-items: flex-start;
}


.project-logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    right: 0;
    align-items: flex-start;
}

input[type="file"] {
    display: none;
}

input{
    margin-top: 0.5em;
    height: auto;
    line-height: normal;
    width: 18vw;
    /* margin-top: 1em; */
    margin-right: 2em;
    padding: 0.85em .75em;
    border-radius: 5px;
    background: #14141F;
    border: 1px solid #31314D;
    color: #585858;
    /* outline-style: linear-gradient(to bottom right, #9D21FF, #2254D3); */
    font-size: 1.1em;
    height: 2.5vh;
}


.logo-upload {
    background: #272749;
    border-radius: 5px;
    color: white;

}
.detail-wrapper > h3{
    font-size: 1.25rem;
    text-align: left;
    margin: 5vh 0 0;
}
.register-txt, .register-comment{
    color: #CDCDCD;
    font-size: .9em;
    text-align: left;
    margin: 1em 0 0;
}

.register-project-name input, .register-dropdown-bar{
    height: auto;
    line-height: normal;
    width: 18vw;
    /* margin-top: 1em; */
    margin-right: 2em;
    padding: 0.85em .75em;
    border-radius: 5px;
    background: #14141F;
    border: 1px solid #31314D;
    color: #585858;
    /* outline-style: linear-gradient(to bottom right, #9D21FF, #2254D3); */
    font-size: 1.1em;
    height: 2.5vh;
}

.logo-img{
    height: auto;
    line-height: normal;
    width: 15vw;
    height: 2.5vh;
    margin-top: .5em;
    margin-right: 2em;
    padding: 0.925em .75em;
    border-radius: 5px;
    background: #14141F;
    border: 1px solid #31314D;
    color: #585858;
}

.logo-img label{
    background: #272749;
    border-radius: 5px;
    padding: .65em 1.25em;
    position: relative;
    left: 5vw;
    top: 0.4em;
}
.project-explain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* margin: 0 1.1em 1em 0em; */
}
.project-explain textarea{
    line-height: normal;
    text-align:start;
    vertical-align:sub;
    margin-top: .5em;
    margin-right: 2em;
    padding: 0.85em .75em;
    border-radius: 5px;
    background: #14141F;
    border: 1px solid #31314D;
    color: #585858;
    font-size: 1.1em;
    height: 20vh;
    width: 36.5vw;
}

.token-address > input, .register-dropdown-bar {
    width: 36.5vw;
}
.register-comment{
    color: rgba(205, 205, 205, 0.49);
}
.add-more{
    /* identical to box height */
    text-decoration-line: underline;
    /* 6b6b */
    color: #6B6B6B;

}
.phase1-txt{
    color: #32CAEC;
    font-weight: bold;
}

.phase2-txt{
    color: #1EDC81;
    font-weight: bold;
}